/aula02/Aula02/nbproject/private/
/aula02/Aula02/build/
/aula03/Aula03/nbproject/private/
/aula03/Aula03/build/
/aula04/Aula04/nbproject/private/
/aula04/Aula04/build/
/aula05/Exercicio01/nbproject/private/
/aula05/Exercicio01/build/
/aula05/Aula05/build/
/aula05/Aula05/dist/
/aula06/Aula06/nbproject/private/
/aula06/Aula06/build/